<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>联创世华</title>
		<link rel="stylesheet" href="../assets/css/amazeui.css">
		<link rel="stylesheet" href="../assets/css/common.css" />
		<link rel="stylesheet" href="../assets/css/style.css">

	</head>

	<body>
		<header data-am-widget="header" class="am-header am-header-fixed index-header">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="arrow-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
		        <a href="javascript:;" class="">
		           试卷详情
		        </a>
		    </h1>
			<div class="am-header-right am-header-nav">
				<a href="javascript:;" class="">
					<i class="heart"></i>
				</a>
			</div>
		</header>
		<div class="test-wrapper">
			<div class="detail-wrapper clearfix">
				<div class="detail-main" id="examDetail">
					<script type="text/html" id="exam-datail">
						<div class="title">
							{{infor[0].title}}
						</div>
						<div class="line"></div>
						<div class="test-content">
							<div class="am-panel-group" id="accordion" style="margin-bottom: 0;">
								<div class="am-panel am-panel-default" style="margin-top:0">
									<div class="am-panel-hd test-title">
										<h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
								       查看注意事项
								    </h4>
										<i class="colls coll1" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}"></i>
									</div>
									<div id="do-not-say-1" class="am-panel-collapse am-collapse">
										<div class="am-panel-bd">
											<p class="illustration"></p>

										</div>
									</div>
								</div>
								<div class="am-panel am-panel-default" style="margin-top:0">
									<div class="am-panel-hd test-title">
										<h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
								        查看给定材料
								     </h4>
										<i class="colls coll2" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}"></i>
									</div>
									<div id="do-not-say-2" class="am-panel-collapse am-collapse">
										<div class="am-panel-bd">
											<p class="data"></p>
										</div>
									</div>
								</div>
								<div class="am-panel am-panel-default" style="margin-top:0">
									<div class="am-panel-hd test-title">
										<h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">查看做题要求</h4>
										<i class="colls coll3" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}"></i>
									</div>
									<div id="do-not-say-3" class="am-panel-collapse am-collapse">
										<div class="am-panel-bd">
											<p class="require"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
						<div class="start-answer">
							<div class="am-panel-group" id="accordion" style="margin-bottom: 0;">
								<div class="am-panel am-panel-default" style="margin-top:0">
									<div class="am-panel-hd test-title">
										<h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}">
								      开始答题<span>(仅支持拍照作答)</span>
								    </h4>
										<i class="colls coll4" data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}"></i>
									</div>
									<div id="do-not-say-4" class="am-panel-collapse am-collapse">
										<div class="am-panel-bd" style="padding: 0;">
											<ul class="answer-nav">
												{{each infor[0].question as item index}}
												<li class="list-item">
													<div class="item-left">
														<div class="item-img">
															{{if item.is_answer == 0}}
															<img class="picture" src="../assets/i/add-pic.png" alt="" width="68" height="68" /> {{else if item.is_answer == 1}}
															<img class="picture" src="{{item.answer.split(',')[0]}}" alt="" width="68" height="68" /> {{/if}}
														</div>
														<div class="content">
															<h1 class="name">{{item.title}}</h1> {{if item.is_answer == 0}}
															<span class="status">未作答</span> {{else if item.is_answer == 1}}
															<span class="status">已作答</span> {{/if}}
														</div>
													</div>
													<div class="item-right">
														{{if item.is_answer == 0}}
														<a href="exam-answer.html?id={{item.id}}&pid={{infor[0].id}}" class="item-answer">立即作答</a>
														{{else if item.is_answer == 1}}
														<a href="exam-answer.html?id={{item.id}}&pid={{infor[0].id}}" class="item-answer">修改作答</a>
														{{/if}}
													</div>
												</li>
												{{/each}}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</script>
				</div>
			</div>
			<div class="test-submit">
				<a href="javascript:;">提交批改</a>
			</div>
		</div>
		<!--弹窗-->
		<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
			<div class="am-modal-dialog customer-service">
				<div class="am-modal-hd title">你还有未作答的题目</div>
				<div class="am-modal-bd name">
					确定提交?
				</div>
				<div class="am-modal-footer">
					<span class="am-modal-btn del">取消</span>
					<a href="javascript:;" class="confirm">确定</a>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/amazeui.js"></script>
	<script type="text/javascript" src="../assets/js/template.js"></script>
	<script type="text/javascript" src="../assets/js/common.js"></script>
	<script type="text/javascript" src="../assets/js/iscroll.js"></script>
	<script type="text/javascript">
		$(function() {
			$('body').css('backgroundColor', '#ebebeb');
			var token = getCookie('token');
			var para = window.location.search;
			var id = GetQueryString('id');
			var testID = "";
			var answer = "";
			var role = getInfo('role');
			if(role == "2" || role == "3") {
				$('.test-submit').hide();
			}
			//改变折叠面板样式
			function collapse(id, el) {
				$(id).on('open.collapse.amui', function() {
					$(el).addClass('active').parent().addClass('active');
				}).on('close.collapse.amui', function() {
					$(el).removeClass('active').parent().removeClass('active');
				});
			};
			//			//试卷收藏
			$('.heart').on('click', function() {
				$(this).toggleClass('active');
				if($(this).hasClass('active')) { //收藏
					$.ajax({
						url: reqUrl('shoucang_click_test'),
						type: 'post',
						dataType: 'json',
						data: {
							token: token,
							id: id
						},
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200 || data.error_code == 100) {
								window.location.href = preUrl('log/login.html' + para + '&path=index/paper-details.html');
							} else if(data.success) {

							}
						},
						error: function(e, request, settings) {
							alert(settings);
						}
					});
				} else { //取消收藏
					$.ajax({
						url: reqUrl('shoucang_cancel_test'),
						type: 'post',
						dataType: 'json',
						data: {
							token: token,
							id: id
						},
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200 || data.error_code == 100) {
								window.location.href = preUrl('log/login.html?path=index/paper-details.html');
							} else if(data.success) {

							}
						},
						error: function(e, request, settings) {
							alert(settings);
						}
					});
				}

			});
			//试卷详情
			$.ajax({
				url: reqUrl('yeartest_get'),
				type: 'post',
				dataType: 'json',
				data: {
					token: token,
					id: id,
					test_type:6

				},
				xhrFields: {
					withCredentials: true
				},
				success: function(data) {
					if(data.error_code == 200 || data.error_code == 100) {
						window.location.href = preUrl('log/login.html' + para + '&path=index/paper-details.html');
					} else if(data.success) {
						var examDetail = template('exam-datail', data);
						$('#examDetail').html(examDetail);
						var collect = data.infor[0].is_shoucang;
						if(collect == 0) {
							$('.heart').removeClass('active');
						} else if(collect == 1) {
							$('.heart').addClass('active');
						}
						testID = data.infor[0].id;
						$('.illustration').html(data.infor[0].illustration);
						$('.data').html(data.infor[0].data);
						$('.require').html(data.infor[0].require);
						
						
//						$('.illustration').find("*").attr('style',"");
//						$('.data').find("*").attr('style',"");
//						$('.require').find("*").attr('style',"");

						//折叠面板
						collapse('#do-not-say-1', '.coll1');
						collapse('#do-not-say-2', '.coll2');
						collapse('#do-not-say-3', '.coll3');
						collapse('#do-not-say-4', '.coll4');
						answer = data.infor[0].question;

					} else {
						mask(data.msg);
					}

				},
				error: function(e, request, settings) {
					alert(settings);
				}
			});

			$('.test-submit').click(function() {
				var open = false;
				if(answer.length == 0) {
					return false;
				}
				for(var i = 0; i < answer.length; i++) {
					if(answer[i].is_answer == 0) {
						open = true;
					}
				}
				if(open == true) {
					$('#my-alert').modal('open');
					$('.confirm').on('click', function() {
						$('#my-alert').modal('close');
						submit();
					});
				} else {
					submit();
				}
				
			});

			function submit() {
				$.ajax({
					url: reqUrl('submit_test_do'),
					type: 'post',
					dataType: 'json',
					data: {
						token: token,
						test_id: testID,
						message: '',
						jian_xiang:1,
						famousteacher_id: ''
					},
					async: false,
					xhrFields: {
						withCredentials: true
					},
					success: function(data) {
						var tid = data.infor[0].id;
						if(data.error_code == 200 || data.error_code == 100) {
							window.location.href = preUrl('log/login.html' + para + '&path=index/paper-details.html');
						} else if(data.success) {
							console.log('bb');
							window.location.href = preUrl('index/submit-sl-correct.html?id=' + tid + '');
						} else {
							mask(data.msg);
						}

					},
					error: function(e, request, settings) {
						alert(settings);
					}
				});
			}

		});
	</script>

</html>