<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>联创世华</title>
		<link rel="stylesheet" href="../assets/css/amazeui.css">
		<link rel="stylesheet" href="../assets/css/common.css" />
		<link rel="stylesheet" href="../assets/css/style.css">

	</head>

	<body>
		<header data-am-widget="header" class="am-header am-header-fixed index-header">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="arrow-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
		        <a href="javascript:;" class="">
		           申论批改详情
		        </a>
		    </h1>
		</header>
		<div class="ssc-container">
			<script type="text/html" id="content">
				<div class="sl-order">
					<div class="order-num">订单号：<span>{{infor[0].order_no}}</span></div>
					<div class="order-num">批改价格：<span>￥{{infor[0].pingtai_price}}</span></div>
					<div class="order-num">考试项目：<span>{{infor[0].style}}</span></div>
					<div class="order-num">提交时间：<span>{{infor[0].date}}</span></div>
					{{if infor[0].is_pigai == 0 && infor[0].is_pay == 1}}
					<div class="n-correct">待批改</div>
					{{/if}} {{if infor[0].is_pigai == 1 && infor[0].is_pay == 1}}
					<div class="y-correct">已批改</div>
					{{/if}} {{if infor[0].is_pigai == 0 && infor[0].is_pay == 0}}
					<div class="n-pay">待支付</div>
					{{/if}}
					<div class="batch">详批</div>
				</div>
				<div class="sl-result">
					<h1 class="title">不打算大部分的你说的</h1>
					<ul class="answer-nav">
						{{each infor[0].question as item index}}
						<li class="list-item">
							<div class="item-left">
								<div class="item-img">
									{{if item.is_answer == 0}}
									<img class="picture" src="../assets/i/add-pic.png" alt="" width="68" height="68" /> {{else if item.is_answer == 1}}
									<img class="picture" src="{{item.answer.split(',')[0]}}" alt="" width="68" height="68" /> {{/if}}
								</div>
								<div class="content">
									<h1 class="name">{{item.title}}</h1> {{if item.is_answer == 0}}
									<span class="status">未作答</span> {{else if item.is_answer == 1}}
									<span class="status">已作答</span> {{/if}}
								</div>
							</div>
							<div class="item-right">
								<a href="../index/look-answer.html?id={{item.id}}" class="item-answer">查看作答</a>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="ssc-message">
					<textarea name="" rows="3" cols="" class="text" style="border:none">留言：{{infor[0].message}}</textarea>
				</div>
			</script>
		</div>
		<!--待支付状态-->
		<footer class="sscd-footer">
			<!--<span class="remove">取消批改</span>
			<a href="javascript:;" class="pay">去支付</a>-->
		</footer>
		<!--已批改状态-->
		<!--<footer class="scd-footer">
			<a href="correct-details.html">查看批改详情</a>
		</footer>-->
	</body>
	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/amazeui.js"></script>
	<script type="text/javascript" src="../assets/js/common.js"></script>
	<script type="text/javascript" src="../assets/js/template.js"></script>
	<script type="text/javascript" src="../assets/js/iscroll.js"></script>
	<script type="text/javascript">
		$(function() {
			var token = getCookie('token');
			var id = GetQueryString('id');
			var para = window.location.search;
			$.ajax({
				url: reqUrl('pigai_info'),
				type: 'post',
				dataType: 'json',
				data: {
					token: token,
					id: id
				},
				xhrFields: {
					withCredentials: true
				},
				success: function(data) {
					if(data.error_code == 200) {
						window.location.href = preUrl('log/login.html' + para + '&path=index/stu-sl-correct-details.html');
					} else if(data.success) {
						var content = template('content', data);
						$('.ssc-container').html(content);
						var pigai = data.infor[0].is_pigai;
						var pay = data.infor[0].is_pay;
						var pid = data.infor[0].pigai_id;
						var sid = data.infor[0].id;
						if(pigai == 0 && pay == 0) {
							var html = "<span class=\"remove\">取消批改</span>" +
								"<a href=\"../index/submit-slx-correct.html?id=" + sid + "\" class=\"pay\">去支付</a>";
							$('.sscd-footer').html(html)
						};
						if(pigai == 1 && pay == 1) {
							var html = "<a href=\"correct-details.html?id=" + pid + "\" class = \"look\">查看批改详情</a>";
							$('.sscd-footer').html(html)
						}
						//取消修改
						$('.remove').click(function() {
							$.ajax({
								type: 'POST',
								url: reqUrl("cancel_pigai"),
								data: {
									id: sid,
									token: token

								},
								dataType: 'JSON',
								async: false,
								xhrFields: {
									withCredentials: true
								},
								success: function(data) {
									if(data.error_data == 200) {
										window.location.href = preUrl('log/login.html'+para+'&path=my/stu-sl-correct-details.html')
									}
									if(data.success) {
										mask('取消成功')
										window.location.href = document.referrer;
									}
								},
								error: function(e, request, settings) {
									alert(settings);
								}
							});
						});
					} else {
						mask(data.msg);
					}

				},
				error: function(e, request, settings) {
					alert(settings);
				}
			});

		});
	</script>

</html>